<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Music Rater</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topSongs">Top Songs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topArtists">Top Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/topAlbums">Top Albums</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container text-center">
  <img class="img-fluid hero-img" src="https://image.freepik.com/free-photo/vintage-turntable-with-yellow-surface_24837-381.jpg" alt="record player">
</div>

<div class="container mt-4">
    <form class="user-input">
        {{!-- <label>Please enter in your zip code.</label>
        <div class="row mb-2">
            <input type="text" inputmode="numeric" pattern="[0-9]{5}" class="zip-code form-control" placeholder="Zip Code">
        </div> --}}
        <label>Search for Song, Artist, or Album</label>
        <div class="row mb-2">
            <select id="search-opt" class="form-control col-2">
                <option>Song</option>
                <option>Artist</option>
                <option>Album</option>
            </select>
            <input type="text" class="search-input form-control col-8" placeholder="Search">
            <button type="submit" class="search-btn btn col-2">Search</button>
        </div>
    </form>
    <div id="song-info" class = "justify-content-center" style="width: 600px;">
    </div>
</div>
