<div class="container"></div> 
 
  <div class="card">

  <div class="card-body">
  <h5 class="card-title">Top Music</h5>
<table class="table table-dark">
 
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Artist</th>
        <th scope="col">Song</th>
        <th scope="col">Album</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
        
 
</div>
  </div>