* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 26px;
    font-family: 'Turret Road', cursive;
    line-height: 32px;
    background-color: #ece1be;
}

.navbar {
    font-family: 'Abril Fatface', cursive;
    background-color: #d9cdb6 !important;
}

.navbar-brand {
    font-size: 32px;
}

.container {
    width: 60%;
}

.hero-img {
    width: 80%;
    margin: auto;
}

.search-btn {
    background-color: #a68e6c;
    color: #ffffff;
}

#song-info{
    text-align: center;
    margin:auto;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 24px;
        line-height: 30px;
    }
    .container {
        width: 100%;
    }
}